body {
    text-align: center;
    color: white;
}

input {
  border-radius: 5px;
  text-align: center;
}

input[type=submit] {
  color: black !important;
}

:not(input) and :not(select) {
  color: rgb(230,230,230);
}

#particles-js {
  width: 100%;
  height: 300px;
}

a {
  color: #800880;
  text-decoration: none;
}

table {
  width: 100%;
  text-align: center;
}

th {
  color: rgba(220,220,200,.9);
  font-size: 1.1em;
}

#tablePicker {
  margin: 20px;
}

form {
  margin: 20px;
  text-align: center;
}