body{
  background-image: linear-gradient(20deg, rgb(0,0,0),rgb(10,10,10), rgb(5,5,5),rgb(10,10,10), rgb(0,0,0));
}

input {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  box-shadow:0 0 4px #fff,0 0 7px #fff,0 0 11px #fff,0 0 14px blue,0 0 23px blue;
}

input[type=submit] {
  color: black !important;
  background-image: linear-gradient(160deg, rgb(220,220,220),rgb(245,245,245), rgb(240,240,240),rgb(245,245,245), rgb(220,220,220));
}

:not(input) and :not(select) {
  color: rgb(230,230,230);
}

#particles-js {
  width: 100%;
  height: 300px;
}

#tablePicker {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

form {
  margin: 20px;
  text-align: center;
}

#footerImage{
  width: 100%;
  height: 200px;
}

#footerText{
  margin-top: 30px;
}

.tableLinks{
  font-size: 40px;
}

.actionLinks{
  font-weight: 700;
}

.entryForm{
  border-radius: 10px;
  border: solid 1px rgb(40,40,40);
  padding: 20px;
  display: inline-block;
  width: 80%;
  background-image: linear-gradient(160deg, rgb(40,40,40),rgb(10,10,10), rgb(15,15,15),rgb(10,10,10), rgb(40,40,40));
}

.entryForm div{
  display: inline-block;
  width: 24%;
}

.entryForm div input{
  width: 80%;
}

select{
  border-radius: 5px;
  width: 80%;
  box-shadow:0 0 4px #fff,0 0 7px #fff,0 0 11px #fff,0 0 14px blue,0 0 23px blue;
}
