body {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    color: white;
    margin: 0px;
}

table {
    width: 80%;
    margin: 0% 10%;
    border-collapse: collapse;
}

table .rowColor1 td {
    border-bottom: 1.5px solid #60001D;
    padding: 10px;
}

table .rowColor1:hover td:not(.actionLinks) {
    text-shadow: 0px 0px 15px #60001D, 0px 0px 25px #faffff, 0px 0px 50px #60001D, 0px 0px 15px #60001D, 0px 0px 25px #faffff, 0px 0px 50px #60001D;
    -webkit-transition: text-shadow .5s;
    -o-transition: text-shadow .5s;
    -moz-transition: text-shadow .5s;
    transition: text-shadow .5s;
}

table .rowColor2 td {
    border-bottom: 1.5px solid #566800;
    padding: 10px;
}

table .rowColor2:hover td:not(.actionLinks) {
    text-shadow: 0px 0px 15px #566800, 0px 0px 25px #faffff, 0px 0px 50px #566800, 0px 0px 15px #566800, 0px 0px 25px #faffff, 0px 0px 50px #566800;
    -webkit-transition: text-shadow .5s;
    -o-transition: text-shadow .5s;
    -moz-transition: text-shadow .5s;
    transition: text-shadow .5s;
}

table th {
    color: rgba(220, 220, 200, 0.9);
    font-size: 1.1em;
}

a {
    color: #800880;
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 15px indigo, 0px 0px 25px #faffff, 0px 0px 50px cyan, 0px 0px 15px indigo, 0px 0px 25px #faffff, 0px 0px 50px lavender;
    -webkit-transition: text-shadow .5s;
    -o-transition: text-shadow .5s;
    -moz-transition: text-shadow .5s;
    transition: text-shadow .5s;
}

label {
    padding-left: 10px;
}
