$color: ('#AA6373', '#C4C689', '#392061');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

input {
    display: inline-block;
}

table {

tr {
    border: 1px solid nth($color, 1);

    @for $i from 0 through length($color) {
        border: 1px solid nth($color, 1);
    }
}
}
