$color: (#AA6373, #C4C689);

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

input {
    display: inline-block;   
}

table {
    border-collapse: collapse;
    @for $i from 1 through 2 {
        .rowColor#{$i} {
            td {
                border: 1px solid nth($color,$i);        
            }
        }
    }
}